@import "./styles/variables.css";
@import "./styles/reset.css";

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  color: var(--main);
}

.decorate {
  color: var(--button);
}
